{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content%}
<div class="col-md-12">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <h4>{{ message.subject }}</h4>
            <p class="card-text">{{ message.message }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
{% endblock %}